body {
    background-color: blueviolet;
}
nav{
        display: flex;
        justify-content:space-around;
        align-items: center;
        padding: 20px 50px;
        box-shadow: 0 1px 8px #ddd;
}
ul {
    list-style-type: none;
    /*padding-left: 20px;*/
    display: flex;
    justify-content:stretch;
    column-gap: 35px;
    align-content:space-between;
    
}
body {
  color: rgb(235, 201, 116);
  text-align: left;
  font-size:medium;
}

h1 {
  text-align: center;
  color: aqua;
}

/*
h2{
  color:rgb(88, 162, 165);
  text-decoration: underline;
  font-size: medium;
  text-align: center;          
}
/*
        

        