html {
  --page-background-color: #8c65b5;
  --page-text-color: #8eb565;
}

.tab {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 50px;
}

.tablinks {
  list-style-type: none;
  padding-left: 20px;
  display: flex;
  justify-content: stretch;
  font-size: 24pt;
  color: var(--page-text-color);
  column-gap: 35px;
  /* text-decoration:burlywood; */
  align-content: space-between;
  background-color: #8c65b5;
  border: none
  }

body{
  background-color: var(--page-background-color);
}



h1 {
  font-family: 'Indie Flower', cursive;
  /* font-family:serif; */
  text-align: center;
  color: var(--page-text-color);
}

button:active {
  text-decoration: underline;
}

p {
  color: var(--page-text-color);
  font-size: 20pt;
  text-align: center;
}
